@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';

body{
  background-color: lightblue;
}

.wrap{
  display: flex;
  justify-content: left;
  width: 100vw;
}

.container{
  /* background-color: white; */
  padding: 1em;
  margin: 1em;
  max-width: 20em;
}

.new-note{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 10em;
}

.notes{
  /* width: 15em; */
  padding: 1em;
  margin-bottom: 1em;
  background-color: white;
  word-wrap: break-word;
}

.btn{
  width: 60%;
  margin: auto;
}

.btn2{
  width: 100%;
  font-weight: bold;
}

input{
  outline: none;
}

